html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: cell;
}

.control-box {
  position: fixed;
  background: rgb(175, 189, 212);
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: .7;
  padding: 0;
  margin: 0;
}

.control-box:hover {
  animation: expand .8s forwards;
}

@keyframes expand {
  0% {
    width: 50px;
    opacity: 0.7;
  }
  60% {
    width: 300px;
    padding: 0;
    opacity: 1;
  }
  100% {
    width: 300px;
    padding: 0 0 50px 0;
    opacity: 1;
  }
}

.board {
  margin: 0;
  padding: 0;
}

button {
  height: 30px;
  width: 30px;
  border-style: none;
  /*border-radius: 100%;*/
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 10px 0 10px 10px;
  transition: opacity .4s ease;
  opacity: .9;
}

button:not(.settings):hover {
  opacity: .6;
}

.settings {
  background-image: url('assets/settings.svg');
}

.pause {
  background-image: url('assets/pause.svg');
}

.step {
  background-image: url('assets/next.svg');
}

.reset {
  background-image: url('assets/reset.svg');
}

.clear {
  background-image: url('assets/clear.svg');
}

.question {
  background-image: url('assets/question.svg');
}


.info {
  height: 50px;
  background: #dfe3ee;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.info > p {
  padding: 3px 10px 3px 10px;
  margin: 0;
  font-size: .75em;
}

.gen-box {
  position: relative;
  top: -3px;
  right: -3px;
  margin: 0;
}

.gen-box, .gen{
  font-size: .8em;
  display: inline-block;
  text-align: center;
  padding: 3px;
  background: rgba(255, 255, 255, .1);
}



